<app-common-table [settings]="settings" [source]="source" [count]="count" [itemsPerPage]="default_limit"
    [tablename]="'Exécution'" [add_btn]="add_btn" [addBtnUrl]="addBtnUrl" [addBtnName]="addBtnName" [editUrl]="editUrl"
    [deleteApis]="deleteApis" (onDeleteChange)="onDeleteChange($event)" (onitemsPerPageChange)="onitemsPerPageChange($event)" (onPageChange)="onPageChange($event)" (onheaderCardChange)="onheaderCardChange($event)"
    (onSearchChange)="onSearchChange($event)">
</app-common-table>